/* MainPage.module.css */
.mainPage {
  min-height: 100vh; /* Занимает всю высоту экрана */
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Градиентный фон */
  padding: 24px;
  text-align: center;
}